:root {
  --main-color: #f25454;
}
body {
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
.home {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  /* padding: 80px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing h1 {
  font-size: 4rem ;
  font-weight: bolder;
  margin: 45px 0;
}
.landing p {
  font-size: 20px;
  margin: 45px 0;
}
.landing .email input {
  background: #ffffff44;
  border: 1px solid #fff ;
  color: #fff;
  outline: none;
  border-radius: 5px;
  padding: 13px 80px 13px 5px;
  margin-bottom: 20px;
}
.landing .email button {
  display: inline;
  font-size: 19px;
  background: #ffffff44;
  border: 1px solid #fff ;
  color: #fff;
  outline: none;
  border-radius: 5px;
  padding: 10px 8px;
  margin-left: 8px;
  transition: .5s;
}
.landing .email button:hover {
  background: #fff;
  color: #0000005d;
}
.landing .time p {
  font-size: 15px;
  margin: 0 20px;
}
.landing .time .time-txt {
  font-size: 50px;
  margin-bottom: 5px;
}
